In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
import os
print(os.listdir('./input'))

['sample_submission.csv', 'test.tsv', 'train.tsv', 'zipped']

In [8]:
train_df = pd.read_table("./input/train.tsv")

In [61]:
train_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,category_oneLevel,category_twoLevel,category_threeLevel
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,Men,Men/Tops,Men/Tops/T-shirts
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Electronics/Computers & Tablets,Electronics/Computers & Tablets/Components & P...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Women/Tops & Blouses,Women/Tops & Blouses/Blouse
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home/Home Décor,Home/Home Décor/Home Décor Accents
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,Women,Women/Jewelry,Women/Jewelry/Necklaces

In [10]:
train_df.describe()

            train_id  item_condition_id          price       shipping
count  593376.000000      593376.000000  593376.000000  593376.000000
mean   296687.500000           1.907738      26.689003       0.446294
std    171293.041002           0.902921      38.340061       0.497108
min         0.000000           1.000000       0.000000       0.000000
25%    148343.750000           1.000000      10.000000       0.000000
50%    296687.500000           2.000000      17.000000       0.000000
75%    445031.250000           3.000000      29.000000       1.000000
max    593375.000000           5.000000    2000.000000       1.000000

In [58]:
a, b, c, d = train_df['category_name'].str.split("/", 3).str
category_oneLevel = a
category_twoLevel = a + "/" + b
category_threeLevel = a + "/" + b + "/" + c
train_df['category_oneLevel'] = category_oneLevel
train_df['category_twoLevel'] = category_twoLevel
train_df['category_threeLevel'] = category_threeLevel

0                                         Men/Tops/T-shirts
1         Electronics/Computers & Tablets/Components & P...
2                               Women/Tops & Blouses/Blouse
3                        Home/Home Décor/Home Décor Accents
4                                   Women/Jewelry/Necklaces
5                                         Women/Other/Other
6                                  Women/Swimwear/Two-Piece
7                           Sports & Outdoors/Apparel/Girls
8                           Sports & Outdoors/Apparel/Girls
9                  Vintage & Collectibles/Collectibles/Doll
10                                       Beauty/Makeup/Face
11                                   Beauty/Fragrance/Women
12                           Women/Dresses/Above Knee, Mini
13                    Other/Office supplies/School Supplies
14                                        Women/Shoes/Boots
15                                Beauty/Makeup/Makeup Sets
16                                       Beauty/Makeup/Eyes
17                           Kids/Gear/Backpacks & Carriers
18                            Beauty/Makeup/Makeup Palettes
19                              Women/Tops & Blouses/Blouse
20                          Women/Tops & Blouses/Tank, Cami
21                       Women/Athletic Apparel/Sports Bras
22        Electronics/Cell Phones & Accessories/Cell Pho...
23        Electronics/Cell Phones & Accessories/Chargers...
24                            Women/Tops & Blouses/T-Shirts
25                                       Men/Shoes/Athletic
26        Electronics/Cell Phones & Accessories/Cases, C...
27           Women/Athletic Apparel/Pants, Tights, Leggings
28                                 Women/Swimwear/One-Piece
29                                     Women/Jeans/Boot Cut
                                ...
593346                   Kids/Boys 0-24 Mos/Tops & T-Shirts
593347                       Beauty/Hair Care/Styling Tools
593348                                Kids/Boys 2T-5T/Other
593349                       Home/Kitchen & Dining/Cookware
593350             Electronics/Video Games & Consoles/Games
593351                              Women/Underwear/Panties
593352         Kids/Toys/Toy Remote Control & Play Vehicles
593353             Other/Daily & Travel items/Personal Care
593354                                   Beauty/Makeup/Lips
593355       Women/Athletic Apparel/Pants, Tights, Leggings
593356                    Beauty/Tools & Accessories/Waxing
593357                       Beauty/Skin Care/Hands & Nails
593358                               Women/Jewelry/Earrings
593359                             Kids/Girls 2T-5T/Bottoms
593360                                   Beauty/Makeup/Face
593361                                   Beauty/Makeup/Face
593362                               Beauty/Fragrance/Women
593363               Vintage & Collectibles/Serving/Tumbler
593364                           Women/Tops & Blouses/Tunic
593365                                   Beauty/Makeup/Lips
593366                        Beauty/Makeup/Makeup Palettes
593367            Home/Cleaning Supplies/Household Cleaners
593368              Women/Women's Handbags/Totes & Shoppers
593369             Electronics/Video Games & Consoles/Games
593370                       Women/Dresses/Asymmetrical Hem
593371     Home/Kitchen & Dining/Kitchen Utensils & Gadgets
593372                    Kids/Toys/Stuffed Animals & Plush
593373             Electronics/Video Games & Consoles/Games
593374                  Women/Women's Handbags/Shoulder Bag
593375                   Women/Athletic Apparel/Sports Bras
Name: category_name, Length: 593376, dtype: object